<div class="container-fluid">
	<a href="/"><h1>{{title}}</h1></a>
	<p>
		<a href="/scrubber/1" class="btn btn-warning show-da-modal">Preview Optimize Images</a><br />
		Warning: This link will take a minute to load while images are optimized.
	</p>

	<p>
		<button type="button" class="btn btn-primary">Convert all images</button><br />
		This will generate a new image directory with all images optimized and generate a sql update script for the Artwork tables. This may take an hour or two to run completely.
	</p>
</div>
