<div class="container-fluid">
	<a href="/"><h1>{{title}}</h1></a>

	<p>Warning: This link will take a minute to load while images are optimized.<br />
	<a href="/scrubber/1" class="btn btn-warning show-da-modal">Warning</a>
	</p>

	<p>This will generate a new image directory with all images optimized and generate a sql update script for the Artwork tables.<br />
	<button type="button" class="btn btn-primary">Primary</button>
	</p>
</div>
